.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; /* Header will stick to the top of the page */
    top: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
}

.header__icon {
    object-fit: contain;
    height: 100px;
    margin-left: 20px;

}

.header__center {
    display: flex;  /* Will align things horizontally */
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray; /* Makes round border around search bar */
    border-radius: 999px;
}

.header__center > input {
    border: none; /* Removes search bar bar */
    padding: 10px;
    outline-width: 0; /* Blue border still showing up */
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 80px;
}