.post {
  margin-top: 12px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 12px;
  padding: 20px;
  min-height: 120px;
}

.post_author {
  font-size: 15px;
  margin-bottom: 10px;
}

.post_content {
  margin-top: 10px;
  margin-bottom: 10px;
}

.post_comments {
  margin-left: -7px;
  margin-top: 10px;
}
