.post {
  margin-top: 12px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 12px;
  padding: 20px;
}

.post_author {
  font-size: 15px;
  margin-bottom: 10px;
}

.post_content {
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 40vh;
  overflow: auto;
  white-space: pre-wrap;
}

.comments_container {
  margin-top: 12px;
  max-height: 40vh;
  overflow: auto;
  white-space: pre-wrap;
  padding: 20px;
}

