.account_group_accent0 {
    margin-right: 15px;
    height: 70px;
    width: 3%;
    background-color: #6699cc;
}
.account_group_accent1 {
    margin-right: 15px;
    height: 70px;
    width: 3%;
    background-color: #dcae96;
}
.account_group_accent2 {
    margin-right: 15px;
    height: 70px;
    width: 3%;
    background-color: #800000;
}
.account_group_accent3 {
    margin-right: 15px;
    height: 70px;
    width: 3%;
    background-color: #e0b0ff;
}