.web_page{
    /* flex-direction: column;
    display: flex; */
    position: relative;
    /* z-index: 0;
    min-height: inherit; */
    box-sizing: border-box;
    z-index: 0;
    display: block;
    
}

.group_page {
    justify-content: center;
    display: flex;
    flex-direction: row;
    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
    align-items: stretch;
    z-index: 0;
}

.group_container {
    /* display: flex;
    min-height: 85vh;
    height: 100%; */
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    position: relative;
    flex-grow: 1;
    min-width: 0;
    box-sizing: border-box;
    z-index: 0;
    max-width: 1464px;
    flex-wrap: nowrap;
    min-height: inherit;
    flex-basis: 0px;
    justify-content: space-between;
}

.group_leftBar {
    /* background-color: whitesmoke; */
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
    z-index: 0;
    max-width: 360px;
    flex-basis: 360px;
    min-height: 0;
    position: sticky;
    min-width: 280px;
    min-height: inherit;
    flex-shrink: 9999;
}

.group_rightBar {
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
    z-index: 0;
    max-width: 360px;
    flex-basis: 360px;
    /* max-height: 0; */
    position: sticky;
    min-width: 280px;
    min-height: inherit;
    flex-shrink: 9999;
    
    /* flex: 1;
    height: 89vh;
    top: 0;
    position: sticky; */
    /* background-color: whitesmoke; */
}

.studygroup_group_accent0 {
    margin-right: 15px;
    height: 70px;
    width: 5%;
    background-color: #6699cc;
}
.studygroup_group_accent1 {
    margin-right: 15px;
    height: 70px;
    width: 5%;
    background-color: #dcae96;
}
.studygroup_group_accent2 {
    margin-right: 15px;
    height: 70px;
    width: 5%;
    background-color: #800000;
}
.studygroup_group_accent3 {
    margin-right: 15px;
    height: 70px;
    width: 5%;
    background-color: #e0b0ff;
}

.group_center {
    flex-shrink: 1;
    padding-right: 32px;
    justify-content: top;
    display: flex;
    padding-left: 32px;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    min-width: 0;
    box-sizing: border-box;
    align-items: stretch;
    z-index: 0;
    flex-wrap: nowrap;
    flex-basis: 744px;
    overflow: auto;
    background-color: whitesmoke;
    /* width: 50%;
    min-width: 50vh;
    background-color: whitesmoke;
    padding: 0px;
    height: 89vh;
    overflow: auto; */
}

.group_feed {
    flex-direction: column;
    display: flex;
    position: relative;
    max-width: 100%;
    min-width: 0;
    box-sizing: border-box;
    flex-shrink: 0;
    z-index: 0;
}

.group_postCreate {
    justify-content: center;
    display: flex;
    flex-direction: column;

    /* min-width: 50vh;
    overflow: auto;
    max-height: 20vh;
    height: 19vh;
    margin-top: 1vh;
    padding-left: 60px;
    padding-right: 60px; */
    background-color: whitesmoke;
}

.group_postList {
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* min-width: 50vh;
    background-color: whitesmoke;
    padding: 0px;
    height: 69vh;
    min-height: 65vh;
    overflow: auto; */
}


::-webkit-scrollbar {
    width: 4px;
    background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

.noPostNotice {
    margin-top: 12px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 20px;
}

.noPost_title {
    font-size: 15px;
    margin-bottom: 10px;
}

.noPost_content {
    margin-top: 10px;
    max-height: 40vh;
    overflow: auto;
    white-space: pre-wrap;
}
